
		

   <br>
	 <br>
	 <br>
	 <br>
	 <br>
	 <br>
	 <br>
	 <br>


<h1>Our varieties</h1>
<br>
{{#each bananas.bananas}}
<div class = "results">
	<p class = "bananaTitle">{{name}}</p>
<img class = "images" src="{{image}}">
<p>
Uploaded by: {{origin}}
</p>

</div>
<br>
<br>
<br>
{{/each}}

   <br>
	 <br>
	 <br>
	 <br>

 