<html>
    <header>
<h1>{{title}}</h1>
    </header>
  <body>
    
<p>Our varieties</p>
		<form ref='uploadForm' 
			id='uploadForm' 
			action='/upload' 
			method='post' 
			encType="multipart/form-data">
				<input type="file" name="sampleFile" />
				<input type='submit' value='Upload!' />


    
		</form>	  
   

  </body>
  <footer>

  </footer>
</html>